@import '@fontsource/fira-mono';

:root {
	--font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;

	--ua-dark-blue: #041e42;
	--ua-dark-grey: rgb(44, 44, 44);
	--ua-light-grey: #eee;
	--ua-blue: #004c9d;
	--ua-gold: #a89968;
	--ua-cream: #fff7e9;
	--ua-light-blue: #58b8fd;
	--ua-dark-gold: #98780f;

	--light-bg-primary: #eee;
	--light-bg-secondary: #ddd;
	--light-txt-primary: var(--ua-dark-blue);
	--light-txt-secondary: var(--ua-blue);
	--light-accent: #a89968;

	--dark-bg-primary: var(--ua-dark-blue);
	--dark-bg-secondary: var(--ua-blue);
	--dark-bg-tertiary: var(--ua-dark-grey);
	--dark-txt-primary: #ddd;
	--dark-txt-secondary: #99a;
	--dark-accent: var(--ua-gold);

	--transition-length: 0.4s;

	--max-full-width: '1920px';
	--max-tablet-width: '1024px';
	--max-limit-width: '1366px';
	--max-width-extra-small: '575.98px';
	--max-width-SMALL: '767.98px';
	--max-width-MEDIUM: '991.98px';
	--max-width-LARGE: '1199.98px';
	--max-width-X_LARGE: '1366px';

	--min-width-EXTRA_SMALL: '576px';
	--min-width-SMALL: '768px';
	--min-width-MEDIUM: '992px';
	--min-width-LARGE: '1200px';
	--min-width-X_LARGE: '1367px';

	--primary-font: 'Space Grotesk Light';
	--title-font: 'Chakra Petch Regular';

	font-family: var(--primary-font);
	color: var(--color-text);
}

@font-face {
	font-family: 'Space Grotesk Light';
	src: url('../lib/fonts/SpaceGrotesk-Light.ttf');
}

@font-face {
	font-family: 'Chakra Petch Regular';
	src: url('../lib/fonts/ChakraPetch-Regular.ttf');
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--light-bg-primary);
	background-size: 100vw 100vh;
	transition: color var(--transition-length) linear;
	-webkit-transition: var(--transition-length);
}

h1,
h2,
h3,
h4 {
	font-family: var(--title-font);
}

h1,
h2,
h3,
h4,
p,
li,
label {
	/*font-weight: 400;*/
	color: var(--light-txt-primary);
	transition: color var(--transition-length) linear;
	-webkit-transition: var(--transition-length);
}

body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark p,
body.dark li,
body.dark label {
	color: var(--dark-txt-primary);
}

p {
	line-height: 1.5;
}

a {
	color: var(--ua-dark-gold);
	text-decoration: none;
	transition: color var(--transition-length) linear;
}

body.dark a {
	color: var(--ua-light-blue);
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

.text-column {
	display: flex;
	max-width: 85%;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

.thirds {
	/* A third of the width for columns*/
	flex: 2; /* all columns are x/6 of the width  1/3 = 2/6*/
	flex-direction: column;
	width: 30%;
	float: left;
	border: 2px solid var(--light-bg-primary);
	border-radius: 5px;
	background-color: var(--light-bg-primary);
	transition: background-color var(--transition-length) linear;
	-webkit-transition: var(--transition-length);
	padding: 1%;
}

body.dark .thirds {
	background-color: var(--dark-bg-primary);
	border: 2px solid var(--dark-bg-primary);
}

/*
.thirds:hover {
	border: 2px solid var(--ua-dark-grey);
}

body.dark .thirds:hover {
	border: 2px solid var(--ua-gold);
}*/

.seconds {
	/* A third of the width for columns*/
	flex: 3;
	flex-direction: column;
	width: 49%;
	float: left;
	border: 2px solid var(--light-bg-primary);
	border-radius: 5px;
	background-color: var(--light-bg-primary);
	transition: background-color var(--transition-length) linear;
	-webkit-transition: var(--transition-length);
	padding: 1%;
}

body.dark .seconds {
	background-color: var(--dark-bg-primary);
	border: 2px solid var(--dark-bg-primary);
}
/*
.seconds:hover {
	border: 2px solid var(--ua-dark-grey);
}

body.dark .seconds:hover {
	border: 2px solid var(--ua-gold);
}
*/

.two-thirds {
	/* A third of the width for columns*/
	flex: 4;
	flex-direction: column;
	width: 65%;
	float: left;
	border: 2px solid var(--light-bg-primary);
	border-radius: 5px;
	background-color: var(--light-bg-primary);
	transition: background-color var(--transition-length) linear;
	-webkit-transition: var(--transition-length);
	padding: 1%;
}

body.dark .two-thirds {
	background-color: var(--dark-bg-primary);
	border: 2px solid var(--dark-bg-primary);
}

/*
.two-thirds:hover {
	border: 2px solid var(--ua-dark-grey);
}

body.dark .two-thirds:hover {
	border: 2px solid var(--ua-gold);
}*/

@media (max-width: 600px) {
	.thirds {
		width: 100%;
		margin-top: 0;
		flex: 1;
	}
	.seconds {
		width: 100%;
		margin-top: 0;
		flex: 1;
	}
	.two-thirds {
		width: 100%;
		margin-top: 0;
		flex: 1;
	}
	.flex-columns {
		flex-direction: column;
	}
}

.flex-columns {
	display: flex;
}

img {
	border-radius: 15px;
}

.download{
	background-color: var(--ua-dark-blue);
	color: var(--ua-light-grey);
	border: none;
	border-radius: 5vw;
	padding: 10px;
	margin: 10px;
	transition: all --transition-length linear;
	-webkit-transition: var(--transition-length);
}

.download:hover{
	background-color: var(--ua-blue);
}

body.dark .download{
	background-color: var(--ua-dark-grey);
	color: var(--ua-light-grey);
}

body.dark .download:hover{
	background-color: var(--dark-accent);
}