.eventCard {
	width: 47%;
	border: 2px solid var(--light-bg-primary);
	border-radius: 5px;
	background-color: var(--ua-light-grey);
	transition: background-color var(--transition-length) linear;
	-webkit-transition: var(--transition-length);
	padding: 1%;
	margin-top: 5%;
	float: left;
}

body.dark .eventCard {
	background-color: var(--ua-dark-grey);
	border: 2px solid var(--dark-bg-primary);
}

.eventCard:hover {
	border: 2px solid var(--ua-dark-grey);
}

body.dark .eventCard:hover {
	border: 2px solid var(--ua-gold);
}

.calenderContent {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.eventText {
	width: 100%;
	margin-top: 20px;
}

.eventImageDiv {
	width: 100%;
}

.eventImg {
	width: 100%;
}

@media (max-width: 900px) {
	.eventCard {
		width: 100%;
	}
}

.bar {
	color: var(--light-txt-secondary);
	background-color: var(--light-txt-secondary);
	height: 2px;
	border-width: 0px;
	width: 80%;
	margin: auto 0;
}

body.dark .bar {
	color: var(--dark-txt-primary);
	background-color: var(--dark-accent);
}

.asteriskCard {
	width: 100%;
	float: left;
}
