.eventCard {
	width: 70%;
	border: 2px solid var(--light-bg-primary);
	border-radius: 5px;
	background-color: var(--ua-light-grey);
	transition: background-color var(--transition-length) linear;
	-webkit-transition: var(--transition-length);
	padding: 1%;
	margin-top: 5%;
}

body.dark .eventCard {
	/*background-color: var(--dark-bg-primary);*/
	border: 2px solid var(--dark-bg-primary);
}

.eventCard:hover {
	border: 2px solid var(--ua-dark-grey);
}

body.dark .eventCard:hover {
	border: 2px solid var(--ua-gold);
}

.calender-content {
	width: 100%;
	align-items: center;
}
