.eventCard {
	width: 90%;
	border: 2px solid var(--light-bg-primary);
	border-radius: 5px;
	background-color: var(--ua-light-grey);
	transition: background-color var(--transition-length) linear;
	-webkit-transition: var(--transition-length);
	padding: 1%;
	margin-top: 5%;

	display: flex;
}

body.dark .eventCard {
	/*background-color: var(--dark-bg-primary);*/
	border: 2px solid var(--dark-bg-primary);
}

.eventCard:hover {
	border: 2px solid var(--ua-dark-grey);
}

body.dark .eventCard:hover {
	border: 2px solid var(--ua-gold);
}

.calenderContent {
	width: 100%;
	align-items: center;
}

.eventText {
	width: 49%;
	flex: 1;
	float: left;
}

.eventImgDiv {
	width: 49%;
	flex: 1;
	float: left;
}

.eventImg {
	width: 100%;
}

.bar {
	color: var(--light-txt-secondary);
	background-color: var(--light-txt-secondary);
	height: 2px;
	border-width: 0px;
	width: 80%;
	margin: auto 0;
}

body.dark .bar {
	color: var(--dark-txt-secondary);
	background-color: var(--dark-txt-secondary);
}
