.robotCard {
	width: 100%;
	border: 2px solid var(--light-bg-primary);
	border-radius: 5px;
	background-color: var(--light-bg-primary);
	transition: background-color var(--transition-length) linear;
	-webkit-transition: var(--transition-length);
	padding: 1%;
	margin-top: 5%;
	display: flex;
	float: left;
	flex: 1;
	flex-direction: row;
}

body.dark .robotCard {
	background-color: var(--dark-bg-primary);
	border: 2px solid var(--dark-bg-primary);
}

/*
.robotCard:hover {
	border: 2px solid var(--ua-dark-grey);
}

body.dark .robotCard:hover {
	border: 2px solid var(--ua-gold);
}*/

.robotCardReverse {
	flex-direction: row-reverse;
	justify-content: right;
}

.robotContent {
	width: 100%;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.robotText {
	width: 49%;
	margin-top: 20px;
	float: left;
}

.robotImageDiv {
	width: 47%;
	float: left;
	margin-right: 20px;
	margin-left: 20px;
}

.robotImg {
	width: 90%;
}

@media (max-width: 900px) {
	.robotText {
		width: 100%;
	}
	.robotImageDiv {
		width: 100%;
	}
	.robotCardReverse {
		flex-direction: column;
	}
	.robotCard {
		flex-direction: column;
	}
}

.bar {
	color: var(--light-txt-secondary);
	background-color: var(--light-txt-secondary);
	height: 2px;
	border-width: 0px;
	width: 80%;
	margin: auto 0;
}

body.dark .bar {
	color: var(--dark-txt-primary);
	background-color: var(--dark-accent);
}

.float-left {
	display: flex;
	float: left;
	width: 49%;
}
.float-right {
	display: flex;
	width: 49%;
	float: right;
	align-items: flex-end;
}
