// Colors
$UA_DARK_BLUE: #041e42;
$UA_BLUE: #004c9d;
$UA_GOLD: #a89968;
$UA_CREAM: #fff7e9;

// Light mode colors
$LIGHT_BG_PRIMARY: #ffffff;
$LIGHT_BG_SECONDARY: #eeeeee;
$LIGHT_TXT_PRIMARY: $UA_DARK_BLUE;
$LIGHT_TXT_SECONDARY: $UA_BLUE;
$LIGHT_ACCENT: #a89968;

// Dark mode colors
$DARK_BG_PRIMARY: $UA_DARK_BLUE;
$DARK_BG_SECONDARY: $UA_BLUE;
$DARK_TXT_PRIMARY: #ffffff;
$DARK_TXT_SECONDARY: #eeeeee;
$DARK_ACCENT: #a89968;

// Size breakpoints
$MAX_FULL_WIDTH: '1920px';
$MAX_TABLET_WIDTH: '1024px';
$MAX_LIMIT_WIDTH: '1366px';
$MAX_WIDTH_EXTRA_SMALL: '575.98px';
$MAX_WIDTH_SMALL: '767.98px';
$MAX_WIDTH_MEDIUM: '991.98px';
$MAX_WIDTH_LARGE: '1199.98px';
$MAX_WIDTH_X_LARGE: '1366px';

$MIN_WIDTH_EXTRA_SMALL: '576px';
$MIN_WIDTH_SMALL: '768px';
$MIN_WIDTH_MEDIUM: '992px';
$MIN_WIDTH_LARGE: '1200px';
$MIN_WIDTH_X_LARGE: '1367px';
