.sponsorContent {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	
}

.sponsorCard {
	background-color: var(--light-bg-primary);
	transition: background-color flex var(--transition-length) linear;
	-webkit-transition: var(--transition-length);
	display: flex;
	border-radius: 10px;
	flex-grow: 100%;
	margin-bottom: 2vh;
}

.tierOne {
	flex-basis: 14.24%;
	flex-direction: column;
	padding-right: 2vw;
}

.tierTwo {
	flex-basis: 25%;
	flex-direction: column;
}

.tierThree {
	flex-basis: 50%;
	flex-direction: row;
}

.tierFour {
	flex-basis: 100%;
	flex-direction: row;
}

.sponsorImgTierOne {
	flex-basis: 100%;
	justify-content: center;
	display: flex;
}

.sponsorImgTierTwo {
	flex-basis: 100%;
	justify-content: center;
	display: flex;
}

.sponsorImgTierTwo img{
	max-height: 5cqw;
	width: auto;
	align-self: start;
	padding-left: 5%;
}

.sponsorImgTierThree {
	flex-basis: 50%;
	justify-content: center;
	display: flex;
}

.sponsorImgTierFour {
	flex-basis: 50%;
	justify-content: center;
	display: flex;
}

.sponsorTxtTierOne {
	flex-basis: 100%;
	text-align: center;
}

.sponsorTxtTierOne h2 {
	font-size: medium;
}

.sponsorTxtTierTwo {
	flex-basis: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.sponsorTxtTierThree {
	flex-basis: 50%;
}

.sponsorTxtTierFour {
	flex-basis: 50%;
}


.bar {
	color: var(--light-txt-secondary);
	background-color: var(--light-txt-secondary);
	height: 2px;
	border-width: 0px;
	width: 80%;
	margin: auto 0;
}

body.dark .bar {
	color: var(--dark-txt-primary);
	background-color: var(--dark-accent);
}


@media screen and (max-width: 768px) {
	.sponsorCard {
		flex-direction: column;
	}

	
}

@media screen and (max-width: 600px) {
	.tierFour {
		flex-basis: 100%;
	}
	.tierThree {
		flex-basis: 100%;
	}
	.tierTwo {
		flex-basis: 50%;
	}
	.tierOne {
		flex-basis: 30%;
	}

	.sponsorImgTierThree{
		justify-content: start;
		display: flex;
	}
	.sponsorImgTierThree img {
		width: 40cqw;
		height: fit-content;
		padding-left: 2%;
	}

	.sponsorImgTierTwo img {
		width: 20cqw;
		height: fit-content;
		max-height: none;

	}

	.sponsorTxtTierOne h2 {
		font-size: small;
	}
	
}