.sponsorCard {
	width: 100%;
	border: 2px solid var(--light-bg-primary);
	border-radius: 5px;
	background-color: var(--light-bg-primary);
	transition: background-color var(--transition-length) linear;
	-webkit-transition: var(--transition-length);
	padding: 1%;
	margin-top: 5%;
	display: flex;
	float: left;
	flex: 1;
	flex-direction: row;
}

.majorSponsor {
	flex-direction: column;
}

body.dark .sponsorCard {
	background-color: var(--dark-bg-primary);
	border: 2px solid var(--dark-bg-primary);
}

/*
.sponsorCard:hover {
	border: 2px solid var(--ua-dark-grey);
}

body.dark .sponsorCard:hover {
	border: 2px solid var(--ua-gold);
}*/

.sponsorCardReverse {
	flex-direction: row-reverse;
	justify-content: right;
}

.sponsorContent {
	width: 100%;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.sponsorText {
	width: 49%;
	margin-top: 20px;
	float: left;
}

.sponsorTextMajor {
	width: 97%;
	margin-top: 20px;
	float: left;
}

.sponsorImageDiv {
	width: 47%;
	float: left;
	margin-right: 20px;
	margin-left: 20px;
}
.sponsorImageDivMajor {
	width: 97%;
	float: left;
	margin-right: 20px;
	margin-left: 20px;
}

.sponsorImg {
	width: 90%;
}

@media (max-width: 600px) {
	.sponsorText {
		width: 100%;
	}
	.sponsorImageDiv {
		width: 100%;
	}
	.sponsorCard {
		flex-direction: column;
	}
	.sponsorCardReverse {
		flex-direction: column;
	}
}

.bar {
	color: var(--light-txt-secondary);
	background-color: var(--light-txt-secondary);
	height: 2px;
	border-width: 0px;
	width: 80%;
	margin: auto 0;
}

body.dark .bar {
	color: var(--dark-txt-primary);
	background-color: var(--dark-accent);
}

.degreeTokenDiv {
	width: 100%;
	margin-top: 15px;
	margin-bottom: 20px;
	float: left;
}

.degreeToken {
	background-color: var(--ua-dark-grey);
	border: 2px solid var(--ua-dark-grey);
	border-radius: 5px;
	float: left;
	height: 20px;
	margin-right: 5px;
	margin-top: 5px;
	align-items: center;
	text-align: center;
	padding: 0px;
	transition: background-color var(--transition-length) linear;
	-webkit-transition: var(--transition-length);
}

.degreeToken:hover {
	border: 2px solid var(--ua-blue);
}

body.dark .degreeToken {
	background-color: var(--ua-light-grey);
}

body.dark .degreeToken:hover {
	border: 2px solid var(--ua-gold);
}

.degreeTokenText {
	color: var(--dark-txt-primary);
	text-align: center;
	font-size: 75%;
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 0;
	margin-bottom: 0;
}

body.dark .degreeTokenText {
	color: var(--light-txt-secondary);
}
